body {
    font-family: 'ITC Serif Gothic', serif;
}

body > .page-header {
    margin-left: 1%;
}

.page-header span {
    margin-left: 2%;
}

#table-wrapper, #vote-btn-wrap {
    margin-top: 1.5em;
    width: 80%;
}

td {
    text-align: right;
}

.modal-body h4 {
    text-align: center;
}

#main-table-header, #mtable-header, #ptable-header {
    font-weight: bold;
}

form {
    width: 25%;
}

#btn-voted {
    display: block;
    margin: auto;
}

.main-logo {
    height: auto;
    width: auto;
    max-height: 100px;
    max-width: 200px;
}

#rebel-poster {
    display: block;
    margin: auto;
}

.tarkin {
    font-style: italic;
    text-align: right;
}

.solo {
    margin-left: -20%;
}

.img-fluid {
    max-width: 80%;
    height: auto;
}
@font-face {
    font-family: 'ITC Serif Gothic';
    src: url(/static/font/itc-serif-gothic.otf);
}