<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Page Not Found</title>
  <link rel="icon" type="img/png" href="/static/img/rebel.ico">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link rel="stylesheet" href="/static/css/style.css">
</head>

<body>
    <div class='page-header'>
      <h1><a href="/"><img src="/static/img/sw-logo.png" class="main-logo"></a> <span>Occurred, a 404 error has... </span></h1>
    </div>
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-12 col-md-4">
                <img src="/static/img/yoda.png">
            </div>
            <div class="col-xs-12 col-md-8">
                <h3 class="page-header">Found, a route that doesn't exist you have</h3>
                <h4><em>The Dark Side I sense in you. Due to the disturbance in the Force I couldn't find the page you were looking for.</em></h4>
                <br>
                <h4>Happens to every guy sometimes this does. Ceased to exist this page has? Or never existed? Do not assume anything young padawan. Clear your mind must be if you are to discover the <a href='/'>real pages</a> behind this plot.</h4>
            </div>
        </div>
    </div>
</body>
</html>