<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Internal Server Error</title>
  <link rel="icon" type="img/png" href="/static/img/rebel.ico">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link rel="stylesheet" href="/static/css/style.css">
</head>

<body>
    <div class='page-header'>
      <h1><a href="/"><img src="/static/img/sw-logo.png" class="main-logo"></a> <span>A 500 error occurred</span></h1>
    </div>
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-12 col-md-4">
                <img class="img-fluid" src="/static/img/han_solo.jpg">
            </div>
            <div class="col-xs-12 col-md-4">
                <h3 class="tarkin">What's going on down there? Come in!</h3>
                <h3 class="solo">Uh, everything is under control. Situation normal.</h3>
                <h3 class="tarkin">What happened?</h3>
                <h3 class="solo"> Uh, we had a slight server malfunction, but uh... eveything is perfectly all right now. We're fine. We're all fine here now, thank you.</h3>
                <h3 class="tarkin">We're sending a squad up</h3>
                <h3 class="solo">Uh, uh, negative, negative. We have, uh, a reactor leak here, uh, now. Give us a few minutes to lock it down.</h3>
            </div>
            <div class="col-xs-12 col-md-4">
                <img class="img-fluid" src="/static/img/tarkin.jpg">
            </div>
        </div>
    </div>
</body>
</html>