<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8">
  <title>The World of Star Wars</title>
  <link rel="icon" type="img/png" href="/static/img/rebel.ico">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link rel="stylesheet" href="/static/css/style.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <script src="/static/js/main.js"></script>
</head>

<body>
  <div class='page-header'>
      <h1><a href="/"><img src="/static/img/sw-logo.png" class="main-logo"></a> <span>Planets of Star Wars Universe </span></h1>
  </div>
  <div class='container-fluid' id="container">
    <div class='row' id="btn-row">
        <div class="col-xs-4 col-md-2">
            <button class="btn btn-info" id="btn-prev" data-previous=" {{ planet_data['previous'] }} " disabled> Previous Page</button>
            <button class="btn btn-info" id="btn-next" data-next=" {{ planet_data['next'] }} "> Next Page </button>
        </div>
        {% if not username %}
        <div class="col-xs-4 col-md-2 col-xs-offset-4 col-md-offset-6">
            <a href="/login"><button class="btn btn-info" id="btn-login">Login</button></a> or
            <a href="/register"><button class="btn btn-info" id="btn-register">Register</button></a>
        </div>
        {% else %}
        <div class="col-xs-2 col-md-1 col-xs-offset-4 col-md-offset-5">
            <h5>Welcome, {{ username }} </h5>
        </div>
        <div class="col-xs-2 col-md-1">
            <a href="/logout"><button class="btn btn-info" id="btn-logout">Logout</button></a>
        </div>
        {% endif %}
    </div>
    <div id="table-wrapper">
        <table class='table table-bordered table-striped table-responsive' id="main-table">
                <tr id="main-table-header" class='info'>
                    {% for attribute in ['Name', 'Diameter', 'Climate', 'Terrain', 'Surface water', 'Population', 'Residents'] %}
                    <td>
                        {{ attribute }}
                    </td>
                    {% endfor %}
                    {% if username %}
                    <td> Vote </td>
                    {% endif %}
                </tr>
            {% set counter = 0 %}
            {% for planet in planet_data['results'] %}
                <tr class="planet-data">
                    <td class="planet-data"> {{ planet['name'] }} </td>
                    <td class="planet-data"> {{ "{:,d}".format(planet['diameter'] | int) }} km </td>
                    <td class="planet-data"> {{ planet['climate'] }} </td>
                    <td class="planet-data"> {{ planet['terrain'] }} </td>
                    <td class="planet-data"> {{ planet['surface_water'] }} {% if planet['surface_water'] != 'unknown' %} % {% endif %} </td>
                    <td class="planet-data"> 
                        {% if planet['population'] != 'unknown' %} 
                        {{ "{:,d}".format(planet['population'] | int) }} people 
                        {% else %} {{ planet['population'] }} 
                        {% endif %} 
                    </td>
                    <td class="planet-data"> 
                        {% if planet['residents'] | length > 0 %} 
                        <button type="button" class='btn btn-default' data-toggle="modal" data-target="#residents-modal" data-planet-name="{{ planet['name'] }}" data-planet-url="{{ planet['url'] }}"> 
                            {{ planet['residents'] | length }} resident{% if planet['residents'] | length > 1 %}s {% endif %} 
                        </button> 
                        {% else %} No known residents 
                        {% endif %} 
                    </td>
                    {% if username %}
                    <td>
                        <form action="/vote" method="GET">
                            <button type="submit" class="btn btn-default btn-vote" name="planet-url" value="{{ planet['url'] }}"><span class="glyphicon glyphicon-plus"></span></button>
                        </form>
                    </td>
                    {% endif %}
                </tr>
                {% set counter = counter + 1 %}
            {% endfor %}
        </table>
    </div>
    <div id="vote-btn-wrap">
        <button class="btn btn-info" id="btn-voted" data-toggle="modal" data-target="#planets-modal">Most popular planets</button>
    </div>
  </div>

  <!-- Residents Modal -->
  <div id="residents-modal" class="modal fade" role="dialog">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h3 class="modal-title">Residents</h3>
                </div>
                <div class="modal-body">
                    {% set resident_table_header = ['Name', 'Height', 'Mass', 'Skin colour', 'Hair colour', 'Eye colour', 'Birth year', 'Gender'] %}
                    <table class="table table-bordered table-striped" id="modal-table">
                        <tr id="mtable-header" class="info">
                            {% for attribute in resident_table_header %}
                            <td> {{ attribute }} </td>
                            {% endfor %}
                        </tr>
                    </table>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>

    <!-- Voted Planets Modal -->
    <div id="planets-modal" class="modal fade" role="dialog">
        <div class="modal-dialog modal-sm">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h3 class="modal-title">The Universe's Favourite Travel Locations</h3>
                </div>
                <div class="modal-body">
                    {% set planets_table_header = ['Name', 'Votes'] %}
                    <table class="table table-bordered table-striped" id="planet-modal-table">
                        <tr id="ptable-header" class="info">
                            {% for attribute in planets_table_header %}
                            <td> {{ attribute }} </td>
                            {% endfor %}
                        </tr>
                    </table>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>

</body>
</html>