<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8">
  <title>The World of Star Wars</title>
  <link rel="icon" type="img/png" href="/static/img/codecool.png">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link rel="stylesheet" href="/static/css/style.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <script src="/static/js/main.js"></script>
</head>

<body>
  <div class='container-fluid'>
    <h1> Planets of Star Wars Universe </h1>
    <button class="btn btn-info" id="btn-prev" data-previous=" {{ planet_data['previous'] }} " disabled> Previous Page</button>
    <button class="btn btn-info" id="btn-next" data-next=" {{ planet_data['next'] }} "> Next Page </button>
    <div id="table-wrapper">
        <table class='table table-bordered table-striped table-responsive' id="main-table">
                <tr class='info'>
                    {% for attribute in ['Name', 'Diameter', 'Climate', 'Terrain', 'Surface water', 'Population', 'Residents'] %}
                    <td>
                        {{ attribute }}
                    </td>
                    {% endfor %}
                </tr>
            {% set counter = 0 %}
            {% for planet in planet_data['results'] %}
                <tr class="planet-data">
                    <td class="planet-data"> {{ planet['name'] }} </td>
                    <td class="planet-data"> {{ "{:,d}".format(planet['diameter'] | int) }} km </td>
                    <td class="planet-data"> {{ planet['climate'] }} </td>
                    <td class="planet-data"> {{ planet['terrain'] }} </td>
                    <td class="planet-data"> {{ planet['surface_water'] }} {% if planet['surface_water'] != 'unknown' %} % {% endif %} </td>
                    <td class="planet-data"> 
                        {% if planet['population'] != 'unknown' %} 
                        {{ "{:,d}".format(planet['population'] | int) }} people 
                        {% else %} {{ planet['population'] }} 
                        {% endif %} 
                    </td>
                    <td class="planet-data"> 
                        {% if planet['residents'] | length > 0 %} 
                        <button type="button" class='btn btn-default' data-toggle="modal" data-target="#residents-modal" data-planet-name="{{ planet['name'] }}" data-planet-url="{{ planet['url'] }}"> 
                            {{ planet['residents'] | length }} resident{% if planet['residents'] | length > 1 %}s {% endif %} 
                        </button> 
                        {% else %} No known residents 
                        {% endif %} 
                    </td>
                </tr>
                {% set counter = counter + 1 %}
            {% endfor %}
        </table>
    </div>
  </div>

  <!-- Residents Modal -->
  <div id="residents-modal" class="modal fade" role="dialog">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Residents</h4>
                </div>
                <div class="modal-body">
                    {% set resident_table_header = ['Name', 'Height', 'Mass', 'Skin colour', 'Hair colour', 'Eye colour', 'Birth year', 'Gender'] %}
                    <table class="table table-bordered table-striped" id="modal-table">
                        <tr id="mtable-header" class="info">
                            {% for attribute in resident_table_header %}
                            <td> {{ attribute }} </td>
                            {% endfor %}
                        </tr>
                    </table>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>

</body>
</html>