<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8">
  <title>The World of Star Wars</title>
  <link rel="icon" type="img/png" href="/static/img/rebel.ico">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link rel="stylesheet" href="/static/css/style.css">
</head>

<body>
  <div class='page-header'>
      <h1><a href="/"><img src="/static/img/sw-logo.png" class="main-logo"></a> <span>We cannot let Imperial scum in here...</span></h1>
  </div>
  <div class='container-fluid' id="container">
      <a href='/'><img src="/static/img/join_the_rebellion.jpg" id="rebel-poster"></a>
  </div>

</body>
</html>